<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <h1>상품 정보</h1>
   <div style="width:80%; text-align:right;margin-bottom:5px; ">
      <a href="/sangpum/insert">상품추가</a>
   </div>
   <table border="1" style="width:80%">
      <tr style="background-color:blue; color:yellow">
         <th>코드</th><th>상품명</th><th>수량</th><th>단가</th><th>기타</th>
      </tr>
      {% if sangpums %}
      {% for s in sangpums %}
      <tr>
         <td style="text-align:center">{{s.code}}</td> <!-- select문의 결과를 출력할 때는 tuple 이므로 s.0,... 사용 -->
         <td>{{s.sang}}</td>
         <td style="text-align:center">{{s.su}}</td>
         <td style="text-align:right">{{s.dan}}</td>
         <td style="text-align:center">
            <a href="/sangpum/update?code={{s.code}}">수정</a>
            |
            <a href="/sangpum/delete?code={{s.code}}">삭제</a>
         </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
         <td colspan="6"> 자료 없음</td>
      </tr>
      {% endif %}
   </table>
</body>
</html>