<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>



<!--
<script type='text/javascript'>
window.onload=function(){
	alert("자두스크립트 실행");
}
</script>
-->
<script type='text/javascript' src="/static/javascript/test.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> <!-- jquery 로딩 -->
<script type='text/javascript'>
$(document).ready(function(){
	//alert("자두스크립트 자두쿼리 성공")
	$("#myImg").click(function(){
		abcFunc();
	});
});
</script>
<link rel="stylesheet" href="/static/css/test.css" />
</head>
<body>
<h1>hello 요청에 대한 반응 문서</h1>
<img src="/static/images/logo.png" id="myImg"/>
</body>
</html>